{
    "parser": "babel-eslint",
    "extends": ["airbnb", "plugin:prettier/recommended"],
    "plugins": [
      "react"
    ],
    "env": {
      "browser": true
    },
    "rules": {
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}